 
@{ 
    ViewBag.Title = "Main";
}

<div style="text-align:center">
 
    <fieldset class="layui-elem-field layui-field-title">
        <legend>统计信息</legend>
        <div class="layui-field-box">Hello World </div>
            @*<div class="layui-field-box">
                <div style="display: inline-block; width: 100%;">
                    <div class="ht-box layui-bg-blue">
                        <p id="totalCount">0</p>
                        <p>用户总数</p>
                    </div>
                    <div class="ht-box layui-bg-red">
                        <p id="todayRegist">0</p>
                        <p>今日注册</p>
                    </div>
                    <div class="ht-box layui-bg-green">
                        <p id="todayLogin">0</p>
                        <p>今日登陆</p>
                    </div>
                    <div class="ht-box layui-bg-orange">
                        <p id="articleCount">0</p>
                        <p>文章总数</p>
                    </div>
                    <div class="ht-box layui-bg-cyan">
                        <p id="resourceCount">0</p>
                        <p>资源总数</p>
                    </div>
                    <div class="ht-box layui-bg-black">
                        <p id="noteCount">0</p>
                        <p>笔记总数</p>
                    </div>
                </div>
            </div>*@
</fieldset>

</div>
