@model List<Blog.Models.BlogArticle>
@if (Model.Count() > 0)
{
    <div class="blog-module shadow">
        <div class="blog-module-title">作者推荐</div>
        <ul class="fa-ul blog-module-ul">
            @foreach (var item in Model)
            {
                <li><i class="fa-li fa fa-hand-o-right"></i><a target="_blank" href="/article/detail/@item.Id" title="@item.Title">@item.Title</a></li>
            }
        </ul>
    </div>
}